{
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "camelcase": "error"
  },
  "extends": [
    "plugin:prettier/recommended"
  ],
  "env": {
    "node": true,
    "es2022": true
  }
}
